<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ctkirep/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'ctkirep/table.css' %}" />
    <script src="{% static 'ctkirep/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'ctkirep/myjs.js' %}"></script>
    <script>
        $(document).ready(function () {
            console.log("document loaded");
        });

        $(window).on("load", function () {
            console.log("window loaded");
        });
    </script>
</head>

<body>
    <div class="topnav">
        <ul class="nav">
            <li class="nav left" style="font-size: 1.25em;"><a href="{% url 'home' %}">Home</a></li>
            <li class="nav left"><a href="{% url 'reading_time_home' %}">Reading time</a></li>
            <li class="nav left"><a href="{% url 'progress_tests_home' %}">Progress tests</a></li>
            <li class="nav left"><a href="{% url 'students_home' %}">Students</a></li>
        </ul>
        <ul class="nav" style="float:right;">
            <li class="nav right"><span style="font-size: 1em;">Logged in as </span></li>
            <li class="nav right"><a href="{% url 'password_change' %}"> {{ request.user }}</a></li>
            {% if request.user.is_authenticated %}
                <li class="nav right"><a href="{% url 'logout' %}" style="color: #092834; background-color: #F7E0D4;"> Logout</a></li>
            {% else %}
                <li class="nav right"><a href="{% url 'login' %}"  style="color: #092834; background-color: #F7E0D4;"> Login</a></li>
            {% endif %}
        </ul>
    </div>
    {% block submenu %}
    {% endblock %}
    <div class="body-content">
        {% block content %}
        {% endblock %}
        <hr />
        <footer>
        </footer>
    </div>
</body>

</html>