<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ctkirep/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'ctkirep/table.css' %}" />
    <script src="{% static 'ctkirep/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'ctkirep/myjs.js' %}"></script>
    <script>
        $(document).ready(function () {
            console.log("document loaded");
        });

        $(window).on("load", function () {
            console.log("window loaded");
        });
    </script>
</head>

<body>
    <div class="topnav">
        <ul class="nav">
            <li class="nav left"><span>CTKIRep login</span></li>
        </ul>
    </div>
    <div class="body-content">
        {% block content %}

        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            <input type="submit" value="Login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>

        {% endblock %}
        <hr />
        <footer>
        </footer>
    </div>
</body>

</html>