{% extends "ctkirep/students_home.html" %}
{% load ctkirep_extras %}
{% block title %}
Students
{% endblock %}
{% block content %}
<div>
  <h3> {{ subject_name }} students</h3>
</div>
<div class="table-wrapper">
<table class="fl-table" id="sts">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>E-mail</th>
      <th>RT username</th>
      <th>PT username</th>
      <th>Subscription start date</th>
      <th>Subscription end date</th>
    </tr>
  </thead>
  {% for student in students %}
  <tr>
    <td>{{ student.name }}</td>
    <td>{{ student.surname }}</td>
    <td>{{ student.email_addr }}</td>
    <td>{{ student.reading_username }}</td>
    <td>{{ student.pt_username }} </td>
    <td>{{ student.start_date|date:"d.m.Y" }}</td>
    <td>{{ student.sub_end|date:"d.m.Y" }}</td>
  </tr>
  {% endfor %}
</table>

</div>

{% endblock %}